body {
  margin: 5%;
}

.linkedin, .facebook, .mail, .phone {
  width:3%;
  margin-top:1%;
  margin-bottom: 1%;
  padding-left: 1%;
  float: right;
}



.top {
  position: fixed;
  background: white;
  top: 0;
  padding-right: 5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-around;
  border-bottom: solid black;
  padding-bottom: 30px;
  background: ;
}

img.profile {
  width: 30%;
  border-radius: 50%;
  margin-top: 2%;
}

h1 {
  font-size: 120px;
  font-family: 'Oswald', sans-serif;
  padding-right: 10%;
  margin-left: 5%;
}

.subheading {
  font-size: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 5%;
  margin-top: -7%;
}

.header-text {
  width: 100%;
  padding-left:10px;
}

.about-me {
  display: flex;
  justify-content: flex-start;

}

.container-rubrik {
  display: flex;
  justify-content: center;
}

.sub-about {
  background: ;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

.me {
  width: 50%;
  background: yellow;
  padding:2%;
}

.skills {
  width: 50%;
  background: green;
  border-left: solid black;
  padding:2%;
}

.list-skills {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

.education {
  background: orange;
  padding:2%;
}

.experience {
  background-color: red;
  padding:2%;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding-bottom: 1%;
  border-bottom: solid black;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0;
}

h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

h6 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.list-skills {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

footer {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-footer, .linkedin-footer {
  width: 5%;
  background: red;
}

.footer-wrapper {

}


/* For mobile */
@media (max-width: 600px) {
  .header {
    background: green;
  }
}
